
@font-face {
  font-family: 'NHaasGroteskDSStd-65Md';
  src: url('NHaasGroteskDSStd-65Md.eot?#iefix') format('embedded-opentype'),  url('NHaasGroteskDSStd-65Md.otf')  format('opentype'),
	     url('NHaasGroteskDSStd-65Md.woff') format('woff'), url('NHaasGroteskDSStd-65Md.ttf')  format('truetype'), url('NHaasGroteskDSStd-65Md.svg#NHaasGroteskDSStd-65Md') format('svg');
  font-weight: normal;
  font-style: normal;
}
